[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.6.1"
black = "==25.11.0"
neat-python = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.9"
